DB_HOST="localhost"
DB_NAME="nombre_de_tu_base_de_datos"
DB_USER="tu_usuario_de_base_de_datos"
DB_PASS="tu_contraseña_segura"

MS_CLIENT_ID="tu_client_id_aqui"
MS_CLIENT_SECRET="tu_client_secret_aqui"
MS_TENANT_ID="tu_tenant_id_aqui"
MS_REDIRECT_URI="http://localhost:8000/callback.php"
